<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('shared/styles') %>
  </head>
  <body>
    <%- include('shared/navbar', {active: "home"}); %>
    <h1>Create New Account</h1>
    <form action="/auth/register" method="post">
      <label>
        Email:
        <input type="email" name="email" />
      </label>
      <label>
        Username:
        <input type="text" name="username" />
      </label>
      <label>
        Password:
        <input type="password" name="password" />
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
